:root {
    --low-gray: #8c8c8c;
    --medium-gray: #2a2a2a;
    --high-gray: #121212;
    --bg-color: #000000;
    --white-color: #fff;
    --btn-color: #404040;
    --btn-color-hover: #212121;
}

header {
    background: var(--medium-gray);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.header-logo {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    transition: ease .2s;
}

.header-logo:hover {
    cursor: pointer;
    transform: scale(1.05);
    text-shadow: 0px 2px 6px var(--low-gray);
}

.header-nav {
    display: flex;
    justify-content: flex-start;
}

.header-nav-item {
    list-style: none;
    margin: 0 20px;
}

.header-nav-item a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--low-gray);
    text-decoration: none;
}

.header-nav-item a:hover { 
    color: var(--white-color);
}

.header-login {
    display: flex;
    font-size: 1.2rem;
    padding: 8px 10px;
    border: 2px solid var(--white-color);
    border-radius: 6px;
    gap: 10px;
    transition: ease .5s;
}

.header-login:hover {
    background: var(--white-color);
    color: var(--btn-color-hover);
    cursor: pointer;
}

@media (max-width:1280px){
    .header-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;  
    }
}

@media (max-width:680px){
    
    .header-nav {
        display: none;
    }
    .btn {
        display: none;
    }
}

