.form-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  gap: 20px;
  border: 2px solid #e5e5e5;
  padding: 40px 30px;
  border-radius: 4px;
}

.label-form {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  max-width: 650px;
  margin-right: 10px;
}

.container-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 500px) {
  .btn-submit,
  .btn-register {
    margin: 0 auto;
    margin-top: 10px;
  }
}
