.container {
  min-height: 80vh;
}

.container h2 {
    margin-top: 40px;
}

.container p {
    color: gray;
    font-size: 1.05rem;
}

/* h2, p {
    text-align: center;
}


form {
  margin: 0 auto;
  max-width: 400px;
  margin-top: 50px;
}

span {
    display: block;
    text-align: start;
    margin-bottom: 10px;
}

label {
    display: block;
    text-align: center;
}

input {
    background: transparent;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    margin: 20px auto; 
}

input:focus {
    border: 2px solid gray;
}

button {
    display: block;
    padding: 10px 20px;
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
} */
