:root {
    --low-gray: #8c8c8c;
    --medium-gray: #2a2a2a;
    --high-gray: #121212;
    --bg-color: #000000;
    --white-color: #fff;
    --btn-color: #404040;
    --btn-color-hover: #212121;

    /* Light Mode */
    --bg-lg-color: #f1f1f1;
}

body {
    background: var(--bg-lg-color);
    color: var(--white-color);
    padding: 0;
    margin: 0;
}

.container {
    min-height: 60vh;
}

